extends layout

block scripts
    script(src="/js/rooms/privateRoom.js")

block content
    #container(class="container")
        ul(id="msgs")

    #bottom(class="bottom-dock")
        footer
            #row(class="row-fluid")
                #txtColumn
                    input(type="hidden", id="senderScreenName", value="#{sender.screenName}")
                    input(type="hidden", id="senderTwitterId",  value="#{sender.twitterId}")
                    input(type="hidden", id="targetScreenName", value="#{target.screenName}")
                    input(type="hidden", id="targetTwitterId",  value="#{target.twitterId}")
                    input(type="hidden", id="sessionId", value="#{id}")
                    input(type="text", id="txtMessage", placeholder="Type something…")
                #btnColumn
                    input(type="button", id="btnSend", class="btn btn-primary", value="Send")
